@import 'https://fonts.googleapis.com/css?family=Open+Sans';

:root {
  --font: 'Open Sans', sans-serif;
  --bg-color: #262626;
  --form-color: #464646;
}

* {
  box-sizing: border-box;
}

#title {
  margin: 50px 0 50px 0;
  padding: 0 0 5px 0;

  p {
    font-family: var(--font);
    color: #bed4d7;
    text-align: center;
    font-size: 20px;
  }

  h1 {
    font-family: var(--font);
    text-align: center;
    font-size: 40px;
    font-weight: normal;
  }

  a:link, a:visited {
    text-decoration: none;
  }

  hr {
    border-bottom: 2px dashed white;
    background: transparent;
  }
}

body {
  background-color: var(--bg-color);
}

.wrapper {
  font-family: var(--font);
  background-color: var(--bg-color);
  color: #bdbdbd;
  width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

a:link, a:visited {
  color: #147fcb;
}

a:hover {
  color: #2890d9;
}

button, textarea, input {
  background-color: var(--form-color);
  color: white;
  padding: 5px 10px;
  margin: 4px 2px;
  text-align: center;
  border: none;
}

textarea {
  height: 115px;
}