@import 'https://fonts.googleapis.com/css?family=Open+Sans';

:root {
  --font: 'Open Sans', sans-serif;
  --navfont: 'Open Sans', sans-serif;
  --bg-color: #282e38;
  --title-color: #c778de;
  --form-color: #464646;
  --secondary-color: #c778de;
}

* {
  box-sizing: border-box;
}

#title {
  margin: 50px 0 50px 0;
  padding: 0 0 5px 0;

  p {
    font-family: var(--font);
    color: #bed4d7;
    text-align: center;
    font-size: 20px;
  }

  h1 {
    font-family: var(--font);
    text-align: center;
    font-size: 40px;
    font-weight: normal;
  }

  a:link, a:visited {
    color: var(--title-color);
    text-decoration: none;
  }

  hr {
    border-bottom: 2px dashed white;
    background: transparent;
  }
}

body {
  background-color: var(--bg-color);
  background-image: url("/assets/img/background.png");
  background-attachment: fixed;
}

.wrapper {
  font-family: var(--font);
  color: #bdbdbd;
  width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 22px;
}

h2, h3, h4, h5, h6 {
  font-size: 17px;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--secondary-color);
}

a:hover {
  color: #34a5c7;
}

button, textarea, input {
  background-color: var(--form-color);
  color: white;
  padding: 5px 10px;
  margin: 4px 2px;
  border: none;
}

button {
  text-align: center;
}

textarea {
  height: 115px;
}

.navbar {
  font-family: var(--font);
  background-color: #3a3b41;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar a{
  padding: 16px 16px;
  font-size: 17px;
  text-decoration: none;
  color: white;
  float: left;
  text-align: center;
  display: block;
}

.navbar a:hover {
  background-color: #242424;
}

#HomeButton a {
  background-color: #282931;
}

.navbar img{
  height: 1px;
  width: auto;
  float: left;
  display: block;
}

#HomeButton span {
  color: var(--secondary-color);
}


.navbar input[type=text] {
  float: right;
  margin-right: 18px;
  border: none;
  padding: 8px;
  margin-top: 9px;
  font-size: 17px;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#tocSearch {
  font-size: 17px;
  padding: 12px;
  border: 1px solid #ddd;
  margin: auto;
  width: 100%;
}

#headerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#headerList li a {
  padding: 7px;
  display: block;
  text-decoration: none;
  color: white;
  float: left;
  clear: left;
}

#headerList li a:hover {
  color: black;
  background-color: #f3f2f2;
}

#headingListDiv {
  white-space: pre;
  font-family: var(--font);
}

.modal {
  z-index: 1;
  position: fixed;
  overflow: auto;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  /* do not appear by default */
  display: none;
}

.close {
  float: right;
  font-size: 30px;
  color: #afafaf;
  font-weight: bold;
}

.close:hover, .close:focus {
  cursor: pointer;
  color: black;
}